---
import LinkButton from "./LinkButton.astro";

export interface Props {
    totalPages: number;
    prev?: string;
    next?: string;
}

const { totalPages, prev = "", next = "" } = Astro.props;
const prevDisabled = !prev;
const nextDisabled = !next;
---

{
    totalPages > 1 && (
        <nav class="pagination-wrapper" aria-label="Pagination">
            <LinkButton
                disabled={prevDisabled}
                href={prev}
                className={`mr-4 select-none ${prevDisabled ? "disabled" : ""}`}
                ariaLabel="Previous"
            >
                <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
                </svg>
                Prev
            </LinkButton>
            <LinkButton
                disabled={nextDisabled}
                href={next}
                className={`mr-4 select-none ${nextDisabled ? "disabled" : ""}`}
                ariaLabel="Next"
            >
                Next
                <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                </svg>
            </LinkButton>
        </nav>
    )
}

<style>
    .pagination-wrapper {
        @apply flex justify-center mt-auto mb-8;
    }
    .disabled {
        @apply opacity-50 hover:text-skin-base group-hover:fill-skin-base pointer-events-none select-none;
    }
    .disabled-svg {
        @apply group-hover:!fill-skin-base;
    }
</style>
