---
import type { CollectionEntry } from "astro:content";
import PublishDate from "./PublishDate.astro";

export interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<li class="my-6">
    <a
        href={`/posts/${post.slug}`}
        class="text-skin-accent font-medium text-lg underline-offset-4 decoration-dashed focus-visible:no-underline focus-visible:underline-offset-0 inline-block"
    >
        <h3 class="font-medium text-lg decoration-dashed hover:underline">
            {post.data.title}
        </h3>
    </a>
    <PublishDate pubDate={post.data.publishDate} />
    <p>{post.data.description}</p>
</li>
