---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import { SITE } from "@config";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
    pageTitle: string;
    pageDesc?: string;
}

const { pageTitle, pageDesc } = Astro.props;
---

<BaseLayout title={`${pageTitle} | ${SITE.title}`}>
    <Breadcrumbs />
    <main id="main-content">
        <h1>{pageTitle}</h1>
        <p>{pageDesc}</p>
        <slot />
    </main>

    <style>
        main {
            @apply max-w-3xl mx-auto px-4 pb-12 w-full;
        }
        h1 {
            @apply font-semibold text-2xl sm:text-3xl;
        }
        p {
            @apply mt-2 mb-6 italic;
        }
    </style>
</BaseLayout>
